{% extends 'base.html' %} {% block content %}
{% if current_user.is_authenticated %}
<h2>Hello, {{ current_user.username }}! <span class="wave">👋🏾</span></h2>
{% else %}
<h2>Hello and Welcome! <span class="wave">👋🏾</span></h2>
{% endif %}
<p>
  Ze Blog is a safe space to explore the thoughts and experiences of fellow
  citizens of the internet, and share yours too.
</p>
<p>
  Authentication is not required to read articles on this blog, but you'll have
  to <a href="{{url_for('login')}}">log in</a> to post, edit or delete your
  articles.
</p>
<br />
<div>
  <a href="{{url_for('contact')}}">
    
  </a>
</div>
<br />
<p>
  Ze Blog is happily hosted by
  <a href="https://www.linkedin.com/in/david-king-8387891b0/">David King Mbugua</a>, a
  software engineering Engineering student at
  <a href="https://www.alxafrica.com/">ALX Africa</a>
  who's learning to create magic with the Python Flask framework.
</p>
<br />
{% endblock content %}
